/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #46bd87 //#409EFF
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

$backgroundColor ?= #fff
$backgroundColorDark ?= #181818

$boxShadow = 0 1px 6px 0 $darkColor2
$boxShadowHover = 0 2px 16px 0 $darkColor2
$boxShadowDark = 0 1px 6px 0 $darkColor6
$boxShadowHoverDark = 0 2px 16px 0 $darkColor6
